* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

h4 {
    color: rgb(117, 3, 194);
    text-align: center;
}